<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuanqing.youngstar">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- //读取外置存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!--  -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SpleashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="._home.WebViewActivity" />
        <activity android:name="._home.searchstudent.StudentShowActivity" /> <!-- login -->
        <activity android:name=".login.login.LoginActivity"></activity>
        <activity android:name=".login.forget.ForgetPWDActivity" />
        <activity android:name=".login.privacy.PrivacyProtectActivity" />
        <activity android:name=".login.protocol.UserProtocolActivity" />
        <activity android:name=".login._student.ImageAuthenActivity" />
        <activity android:name=".login._student.AuthenActivity" />
        <activity android:name=".login.choose.ChooseActivity" />
        <activity android:name=".login._student.LableActivity" />
        <activity android:name=".login.phonebind.PhoneBindActivity" /> <!-- company -->
        <activity android:name=".login._company.ChoseActivity" />
        <activity android:name=".login._company.Authen1Activity"></activity>
        <activity android:name=".login._company.Authen2Activity" />
        <activity android:name=".login._company.ComBindActivity" /> <!-- invest -->
        <activity android:name=".login._invest.InvestAuthenActivity" />
        <activity android:name=".login._invest.InvestAuthen2Activity" /> <!-- add -->
        <activity android:name="._add.PublishActivity" />
        <activity android:name="._add.company.RecuitActivity" />
        <activity android:name="._add.student.WorksActivity" />
        <activity android:name="._add.AddAudioActivity" /> <!-- mine -->
        <activity android:name="._mine.OfficalMsgActivity" />
        <activity android:name="._mine.OfficalMsgDetailActivity" />
        <activity android:name="._mine.EditUserDataActivity" />
        <activity android:name="._mine.WalletActivity" />
        <activity android:name="._mine.EditPhoneActivity" />
        <activity android:name="._mine.EditPWDActivity" />
        <activity android:name="._mine.EditEmailActivity" />
        <activity android:name="._mine.SettinsActivity" />
        <activity android:name="._mine.EditPWD2Activity" />
        <activity android:name="._mine.HelpActivity" />
        <activity android:name="._mine.FeedbackActivity" />
        <activity android:name="._mine.SystemSetActivity" />
        <activity android:name="._mine.PlaySetActivity" />
        <activity android:name="._mine.student.ChangeVerisActivity" />
        <activity android:name="._mine.company.ChangeVericActivity" />
        <activity android:name="._mine.company.EditPhotocActivity" />
        <activity android:name="._mine.student.MatchActivity" />
        <activity android:name="._mine.company.SubAccountActivity" />
        <activity android:name="._mine.company.FollowcActivity" />
        <activity android:name="._mine.student.InterestActivity" /> <!-- 孟\/ -->
        <activity android:name="._active.leitai.LeitaiMoreActivity" />
        <activity android:name="._active.leitai.PartakeActivity" />
        <activity android:name="._active.starbang.StarbangMoreActivity" />
        <activity android:name="._active.zhichang.ZhichangMoreActivity" />
        <activity
            android:name="._square.starshow.StarShowMoreActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chuanqing.youngstar.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photopath" />
        </provider>

        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity android:name="._add.TapeActivity"></activity>
        <activity android:name="._add.TapeZuopinActivity" />
    </application>

</manifest>