<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuanqing.youngstar">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--//读取外置存储卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SpleashActivity"></activity>
        <!--login-->
        <activity android:name=".login.login.LoginActivity"></activity>
        <activity android:name=".login.forget.ForgetPWDActivity"></activity>
        <activity android:name=".login.privacy.PrivacyProtectActivity"></activity>
        <activity android:name=".login.protocol.UserProtocolActivity"></activity>
        <activity android:name=".login.login.RegisterActivity">

        </activity>
        <activity android:name=".login.imageauthen.ImageAuthenActivity"></activity>
        <activity android:name=".login.authentication.AuthenActivity"></activity>
        <activity android:name=".login.identitychoose.ChooseActivity"></activity>
        <activity android:name=".login.lable.LableActivity"></activity>
        <activity android:name=".login.phonebind.PhoneBindActivity"></activity>
        <!--company-->
        <activity android:name=".login.companyauthen.ChooseActivity"></activity>
        <activity android:name=".login.companyauthen.Authen1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>