<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuanqing.youngstar">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- //读取外置存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--  -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            ></activity>
        <activity android:name=".SpleashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="._home.WebViewActivity"/>
        <activity android:name="._home.UserDetailActivity"/>
        <activity android:name="._home.searchstudent.StudentShowActivity"/>
        <activity android:name=".AuditingActivity"/>
        <activity android:name=".AuditFailedActivity"/>
        <!--login-->
        <activity android:name=".login.login.LoginActivity">

        </activity>
        <activity android:name=".login.forget.ForgetPWDActivity"></activity>
        <activity android:name=".login.privacy.PrivacyProtectActivity"></activity>
        <activity android:name=".login.protocol.UserProtocolActivity"></activity>
        <activity android:name=".login._student.ImageAuthenActivity"></activity>
        <activity android:name=".login._student.AuthenActivity"></activity>
        <activity android:name=".login.choose.ChooseActivity"></activity>
        <activity android:name=".login._student.LableActivity"></activity>
        <activity android:name=".login.phonebind.PhoneBindActivity"></activity>
        <!--company-->
        <activity android:name=".login._company.ChoseActivity"></activity>
        <activity android:name=".login._company.Authen1Activity">
        </activity>
        <activity android:name=".login._company.Authen2Activity"></activity>
        <activity android:name=".login._company.ComBindActivity"></activity>
        <!--invest-->
        <activity android:name=".login._invest.InvestAuthenActivity"></activity>
        <activity android:name=".login._invest.InvestAuthen2Activity"></activity>
        <!--add-->
        <activity android:name="._add.PublishActivity"></activity>
        <activity android:name="._add.company.RecuitActivity"></activity>
        <activity android:name="._add.student.WorksActivity"
            android:launchMode="singleTop"
            ></activity>
        <!--<activity android:name="._add.AddAudioActivity"></activity>-->
        <!--mine-->
        <activity android:name="._mine.OfficalMsgActivity"></activity>
        <activity android:name="._mine.OfficalMsgDetailActivity"></activity>
        <activity android:name="._mine.EditUserDataActivity"></activity>
        <activity android:name="._mine.WalletActivity"></activity>
        <activity android:name="._mine.EditPhoneActivity"></activity>
        <activity android:name="._mine.EditPhone2Activity"></activity>
        <activity android:name="._mine.EditPWDActivity"></activity>
        <activity android:name="._mine.EditEmailActivity"></activity>
        <activity android:name="._mine.SettinsActivity"></activity>
        <activity android:name="._mine.EditPWD2Activity"></activity>
        <activity android:name="._mine.HelpActivity"></activity>
        <activity android:name="._mine.FeedbackActivity"></activity>
        <activity android:name="._mine.SystemSetActivity"></activity>
        <activity android:name="._mine.PlaySetActivity"></activity>
        <activity android:name="._mine.student.ChangeVerisActivity"></activity>
        <activity android:name="._mine.company.ChangeVericActivity"></activity>
        <activity android:name="._mine.company.EditPhotocActivity"></activity>
        <activity android:name="._mine.student.MatchActivity"></activity>
        <activity android:name="._mine.company.SubAccountActivity"></activity>
        <activity android:name="._mine.company.FollowcActivity"></activity>
        <activity android:name="._mine.student.InterestActivity"></activity>
        <activity android:name="._mine.fans.CareActivity"></activity>
        <!--孟\/-->
        <activity android:name="._active.leitai.LeitaiMoreActivity" />
        <activity android:name="._active.leitai.PartakeActivity" />
        <activity android:name="._active.starbang.StarbangMoreActivity" />
        <activity android:name="._active.zhichang.ZhichangMoreActivity" />
        <activity android:name="._home.searchstudent.SearchStatusActivity"></activity>
        <activity
            android:name="._square.starshow.StarShowMoreActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chuanqing.youngstar.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photopath" />
        </provider>

        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity android:name="._add.TapeActivity">
        </activity>
        <activity android:name="._add.TapeZuopinActivity"></activity>
        <activity android:name="._add.TapeMoreActivity"></activity>
        <activity android:name=".ActiveDetailActivity"

            >
        </activity>
    </application>

</manifest>